<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @park, partial: "card", as: :park %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "parks/park_events" %>
  </div>
</div>
  <!-- Show Page Customization end -->
